<ion-content [fullscreen]="true">
  <ion-header >
    <ion-toolbar>
      <ion-title>Sign Up</ion-title>
    </ion-toolbar>
  </ion-header> 

  <form (ngSubmit)="signup()" [formGroup]="uyelikBilgisi" class="frm">
    <div class="input-group">

      <ion-item>
        <ion-input
        [(ngModel)]="userData!.fullname"
         [errorText]="ErrorTextFullname()"
         type="text"
         label="Full name"
         labelPlacement="floating"
         formControlName="fullname"
        ></ion-input>
      </ion-item> 


      <ion-item>
        <ion-input
        [(ngModel)]="userData!.birthdate"
        [errorText]="ErrorTextBirthDate()"
         type="date"
         label="Birth date"
         labelPlacement="floating"
         formControlName="bdate"
        ></ion-input>
      </ion-item> 

      
      <ion-item>
        <ion-input 
        [(ngModel)]="userData!.email"
         [errorText]="ErrorTextEmail()"
         type="email"
         label="Email"
         labelPlacement="floating"
         formControlName="email"
        ></ion-input>
      </ion-item> 
  
  
      <ion-item>
        <ion-input
        [(ngModel)]="userData!.password"
         [errorText]="ErrorTextPass()"
         type="password"
         label="Password"
         labelPlacement="floating"
         formControlName="password"
        ></ion-input>
      </ion-item>  
  
  
      <ion-button class="btn1" type="submit" expand="block" [disabled]="!uyelikBilgisi.valid">
        Sign Up
      </ion-button>
      <ion-button class="btn2" type="button" expand="block" [routerLink]="['/login']"  color="#e07218" fill="outline">
        Log In
      </ion-button>
    
    </div>
  </form>
    
  </ion-content>