ion-content {
    --background:url("../../assets/LoginBackGround.jpg");
    font-family: "Chewy";
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}


ion-item{
    --background: #6D7961;
    color: #fff6e5;
    font-size: large;

}
ion-button{
  padding-left: 20px;
  padding-right: 20px;
  --background:#FFF6E5;
}

ion-toolbar{
    --background:#6D7961;
    color: #FFF6E5;
   
}

ion-title{
    font-size: 25px;
}

.btn1{
    padding-top: 20px; 
    color: #6D7961;
}


.btn2{
    padding-bottom: 15px;
    padding-top: 5px;
    color: #FFF6E5;
}



.ion-padding{
    padding-top: 20%;
    padding-right: 10%;
    padding-left: 10%;
}

.input-group{
    border-radius: 10px;
    overflow:hidden;
    margin-bottom: 15px;
    background-color: #6d7961;

}




