ion-tabs{
    background:#FFF6E5;
}

ion-tab-bar{
    position: relative;
    width: 90%;
    transform: translate(-50%,-50%);
    left: 50%;
    border-radius: 10px;
    padding-bottom: 0;
   border: 2px solid #FFF6E5 ;
    overflow: hidden;
    height: 60px;
    --background:#6D7961;


}


.f-icons{
    height: 50px;
    width: 50px;
    color:#FFF6E5;

  }
  