<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-textarea
   placeholder="Title..."
   [clearOnEdit]="true" [(ngModel)]="note.title">
  </ion-textarea>
  <ion-textarea id="tx2"
   placeholder="Write your note"
   [clearOnEdit]="true" [(ngModel)]="note.text">
  </ion-textarea>



  <div class="Gdiv">
    <div class="ChDiv">
      <ion-select aria-label="Category" interface="popover" placeholder="Select Category" [(ngModel)]="note.category" >
        <ion-select-option value="Work">Work</ion-select-option>
        <ion-select-option value="Study">Study</ion-select-option>
        <ion-select-option value="Home">Home</ion-select-option>
        <ion-select-option value="Sport">Sport</ion-select-option>
        <ion-select-option value="Shopping">Shopping</ion-select-option>
        <ion-select-option value="Other">Other</ion-select-option>
      </ion-select>
    </div>
    <div class="ChDiv">
      <ion-checkbox [(ngModel)]="note.isPinned">Pin this note</ion-checkbox>
    </div>
  </div>

</ion-content>
