ion-toolbar{
  --background:#6D7961;
  color: #fff6e5;
}

ion-title{
  font-size: x-large;
  text-align: center;
}

ion-content {
  --ion-background-color: #fff6e5;
  font-family: "Chewy"; 
}  

ion-card{
  background-color: #fff6e5;
  color: black;
  border: 3px solid black;
}

ion-card-title{
  color: black;
}

ion-searchbar{
  --border-radius: 20px !important;
  --color:black;
  --clear-button-color:black;
  --cancel-button-color:black;

}
