ion-toolbar{
  --background:#6D7961;
  color: #fff6e5;
}

ion-menu-button{
  --color:#fff6e5;
}

.menu{
  --background:#6D7961;
}

.menu ion-buttons{
  padding-top: 5%;
  font-size: larger;
}

.x-btn{
  font-size: x-large;
  padding-right: 2%;
}

ion-tab-bar{
  --background: #6D7961;
  --color: #fff6e5;
}

ion-tab-button{
  font-size: large;
}




ion-footer ion-buttons{
  display: inline;
}

ion-button{
  --color: #fff6e5;
  font-size: larger;
}


.pin{
  color: black;
  font-size: larger;
  display: flex;
}

.arrowdown{
  height: 15px;
  width: 15px;
  padding-left: 5px;
  padding-top: 4px;
  ---color:#fff6e5;
}
ion-fab-button::part(native){
  position: fixed;
  right: 5%;
  bottom: 12%;
  height: 50px;
  width: 50px;
  font-size: 50px;
  text-align: center;
  border-radius: 100%;
  background-color: #6D7961;
  color: #fff6e5;
}

/*ion-fab-button::part(native) {
  background-color: #b7f399;
  border-radius: 15px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  color: black;
}*/

.p-button{
  text-align: center;
}


.f-icons{
  height: 50px;
  width: 50px;
}


.outer-icon{
  color: #fff6e5;
  size:large;
  position: relative;
  height: 50px;
  width: 50px;
  z-index: 5;
}

.inner-icon{
  color: #fff6e5;
  size:small;
  position: absolute;
  z-index: 1;
}


ion-content {
  --ion-background-color: #fff6e5;
  font-family: "Chewy";
  
}

ion-select{
  --background: #6D7961;
  margin-right: 4%;
  font-size: large;
}

ion-card{
  background-color: #fff6e5;
  color: black;
  border: 3px solid black;
}

ion-card-title{
  color: black;
}



